{% extends "hrs/base.html" %}

{% block content %}
{% for patient in patients %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'patient-detail' patient.id%}">{{patient.lastName}}, {{patient.firstName}}</a>
                <small class="text-muted">{{ patient.get_gender_display }}</small>
            </div>
            
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>DOB</th>
                      <th>Age</th>
                      <th>Race</th>
                      <th>Doctor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>  
                      <td>{{ patient.birthday }}</td>
                      <td>{{ patient.age }}</td>
                      <td>{{ patient.get_race_display }}</td>
                      <td>{{ patient.doc.last_name }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
    </article>
{% endfor %}

{% endblock content %}

